<style>
#leadspage .md-tabs-content .md-tab-content {
height: auto; 
}
#leadspage .progressLineardemoBasicUsage md-progress-linear {
padding-top: 0px;
margin-bottom: 1px; } 
#leadspage .inset {    
padding-left: 25px; 
padding-top: 25px; } 
#leadspage md-toolbar {
    min-height:34px;
}
#leadspage .md-toolbar-tools {
    height:34px;  
    min-height:34px;
}
</style> 

<div id="leadspage" layout="row" layout-margin layout-fill layout-padding>
<div  flex="13">
    <md-card>  
       <h3> Contact Categories</h3>
     <md-list>
      <md-item >
        <md-item-content>
          <div>
            <p ng-repeat="status in leadStatuses">
             <md-checkbox ng-model="status[0]" >
              {{status[1]}}</md-checkbox> 
            </p>
          </div>
    </md-item-content>
      </md-item>
    </md-list>
    </md-card>   
   <md-card>  
      <h3>Global lists</h3>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
      </p>
    </md-card> 
    <md-card>
      <h3>My Lists</h3>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
      </p> 
    </md-card>  
    <md-card>
      <h3>Recent Items</h3>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
      </p> 
</md-card> 
</div>  

<div flex="80" layout="column"> 
   <div class="row">
        <h1 class="md-toolbar-tools">
          <span flex>Contacts</span>
          <md-button aria-label="Create Contact" ng-click="showHideCreateContact();">
           Create Contact Details
            </md-icon>
          </md-button>
        </h1> 
   </div>
    <div class="row" ng-show="isCreateContact" > 
    
       <md-card>
       
       <md-toolbar class="md-theme-light">  
        <h1 class="md-toolbar-tools"> 
           <span> <a ng-show="!isContactExpand" ng-click="isContactExpand = true" class="clickable">+</a>
           <a ng-show="isContactExpand" ng-click="isContactExpand = false"  class="clickable">-</a>Create Contact</span>
        </h1>
      </md-toolbar> 
      
      <md-contnet ng-show="!isContactExpand" style="padding:10px">
      <md-item-content>
         <div class="row">  
               <div layout layout-sm="column">
                 Please You can add Contact Details.
              </div>
          </div>  
          </md-item-content> 
      </md-contnet>
      
      
       <md-content ng-show="isContactExpand" >
           <div class="row"> 
           <div layout layout-sm="column">
            <md-text-float label="First Name" ng-model="contacts.firstName" class="long"> </md-text-float>
            <md-text-float label="Last Name" ng-model="contacts.lastName" class="long"> </md-text-float>
            </div>
        </div>
        <div class="row"> 
           <div layout layout-sm="column">
            <md-text-float label="Email" ng-model="contacts.email" class="long"> </md-text-float>
            <md-text-float label="Phone" ng-model="contacts.phone" class="long"> </md-text-float>
            </div>
        </div> 
        <div class="row"> 
           <div layout layout-sm="column">
            <md-text-float label="Account" ng-model="contacts.account" class="long"> </md-text-float>
           
            <md-button class="md-primary" ng-click="showAssignedList($event)">
              Assigned To 
            </md-button> 
            
            <!--<md-text-float label="Assigned To" ng-model="contacts.assignedTo" class="long"> </md-text-float>-->
            </div>
        </div>   
        
        
        <div class="row"> 
           <div layout layout-sm="column">
            <md-text-float label="Tags" ng-model="contacts.tags" class="long"> </md-text-float>
             
             {{selectedAssignedToValue}}
            </div>
        </div>   
        
        
        
        </md-item>
        </md-list>
      </md-content>
      
      
        <md-toolbar class="md-theme-light">  
        <h1 class="md-toolbar-tools"> 
           <span> <a ng-show="!isStatusExpand" ng-click="isStatusExpand = true" class="clickable">+</a>
           <a ng-show="isStatusExpand" ng-click="isStatusExpand = false"  class="clickable">-</a>Comment</span>
        </h1>
      </md-toolbar>   
     
     
      <md-contnet ng-show="!isStatusExpand" style="padding:10px">
       <md-item-content>
         <div class="row">  
               <div layout layout-sm="column">
                  You can add comment later.
              </div>
          </div>
           </md-item-content> 
      </md-contnet> 
     <md-content ng-show="isStatusExpand" >
            <div class="row"> 
               <div layout layout-sm="column">
                  <textarea rows="7" cols="40" ng-model="contacts.comments"></textarea>
                </div>
            </div>
        <div class="row"> </div>
     
     </md-content>
     
     
     
     
     
     
     
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
          <span><a ng-show="!isExtInfrmExpand" ng-click="isExtInfrmExpand = true" class="clickable">+</a>
           <a ng-show="isExtInfrmExpand" ng-click="isExtInfrmExpand = false"  class="clickable">-</a> Extra Information</span>
        </h1>
      </md-toolbar>
       <md-contnet ng-show="!isExtInfrmExpand" style="padding:10px">
       <md-item-content>
         <div class="row">  
               <div layout layout-sm="column">
                  You can add extra contact information later. 
              </div>
          </div>
           </md-item-content> 
      </md-contnet> 
      <md-content ng-show="isExtInfrmExpand"  > 
            <div class="row">  
               <div layout layout-sm="column">
                <md-text-float label="Title" ng-model="contacts.title"> </md-text-float>
                <md-text-float label="Company" ng-model="contacts.company" > </md-text-float>
                </div>
            </div>
        
             <div class="row"> 
               <div layout layout-sm="column">
                <md-text-float label="Alternate Emaile" ng-model="contacts.altemail"> </md-text-float>
                <md-text-float label="mobile" ng-model="contacts.mobile" > </md-text-float>
                </div>
            </div>
            <div class="row"> 
               <div layout layout-sm="column">
                <md-text-float label="Address" ng-model="contacts.address"> </md-text-float>
                <md-text-float label="ReferredBy" ng-model="contacts.refferedBy" > </md-text-float>
                </div>
            </div> 
          
          </md-item>
        </md-list> 
      </md-content> 
      <div class="row"> 
      </div>
       <div class="row">
      
        <md-button class="md-raised md-primary" ng-click="createContact()">Save Contacts</md-button>
        OR
        <md-button md-no-ink class="md-primary" ng-click="isCreateContact = !isCreateContact">Cancel</md-button>
        </md-card>
    </div>
    </md-card>
    </div>
    <div class="row">
         <md-card>  
          <md-tabs md-selected="selectedIndex">
            <md-tab a
            
            ng-disabled="false" label="Basic Search">
               <md-list>
                  <md-item>
                    <md-item-content>
                      <div class="md-tile-content">
                        <h4>Basic Search</h4>
                        <p>
                        </p>
                      </div>content
                    </md-item-content>
                  </md-item>
                </md-list>    
            </md-tab>
             <md-tab 
            ng-disabled="false" label="Advanced Search">
               <md-list>
                  <md-item>
                    <md-item-content>
                      <div class="md-tile-content">
                        <h4>Advanced Search</h4>
                        <p>
                        </p>
                      </div>
                    </md-item-content>
                  </md-item>
                </md-list>    
            </md-tab>
          </md-tabs>
        </md-card>   
    </div>
    <div class="row">
<md-card>
   <md-content style="height: 600px;">
    <section>
      <md-subheader class="md-primary">This Week</md-subheader>
      <md-list layout="column">
        <md-item ng-repeat="contact in contacts">
          <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{face}}" class="face" alt="{{contact.first_name}}">
            </div>
            <div class="md-tile-content">
              <h4>Name : {{contact.first_name}}</h4>
              <p>
               Email: {{contact.email}}<br>
              
              </p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
    </md-content>
    </md-card>
    </div>
</div>
</div>